<a href="https://colab.research.google.com/github/sachinbg-282/Data-Analytics---Assignment/blob/main/Assignments_Data_Structures_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment - Data Structure in Python

## Q1

## Write a code to reverse a string

In [ ]:
def reverse(s):
  return s [::-1]

string = "This is Data Analytics Course"
reverse(string)

'esruoC scitylanA ataD si sihT'

In [ ]:
string = "Helllo Pw Skills"
reverse(string)

'sllikS wP ollleH'

## Q2

## Write a code to count the number of vowels in a string

In [ ]:
def vowel_count(s):
  count = 0
  vowels = "AEIOUaeiou"
  for letter in s:
    if letter in vowels:
      count = count +1
  return count

In [ ]:
string = "Sachin"
vowel_count(string)

2

In [ ]:
string = "This is a Beautiful world"
vowel_count(string)

9

## Q3

## Write a code to check if a given string is a palindrome or not

In [ ]:
def palindrome(s):
  s=s.lower()
  if s[::1] == s[::-1]:
    print("The given string is a palindrome")
  else:
    print("Not a palindrome")

In [ ]:
string = "Civic"
palindrome(string)

The given string is a palindrome

In [ ]:
string = "Madam"
palindrome(string)

The given string is a palindrome

In [ ]:
string = "data analytics"
palindrome(string)

Not a palindrome

## Q4

## Write a code to check if two given strings are anagrams of each other

In [ ]:
def anagram(s1 ,s2):
  s1 = s1.replace(" ", "").lower()
  s2 = s2.replace(" ", "").lower()
  if sorted(s1) == sorted(s2):
    print(f"{s1} and {s2} are anagrams")
  else:
    print(f"{s1} and {s2} are not anagrams")

In [ ]:
s1 = "Listen"
s2 = "Silent"
anagram(s1,s2)

listen and silent are anagrams

In [ ]:
s1 = "Note"
s2 = "tone"
anagram(s1,s2)

note and tone are anagrams

In [ ]:
s1 = "Astronomer"
s2 = "Moon starer"
anagram(s1,s2)

astronomer and moonstarer are anagrams

## Q5

## Write a code to find all occurrences of a given substring within another string

In [ ]:
def find_substring_occurrences(main_string, substring):
    occurrences = []
    start = 0

    while True:
        start = main_string.find(substring, start)
        if start == -1:  # No more occurrences found
            break
        occurrences.append(start)
        start += 1  # Move past the last found substring

    return occurrences

# Example usage
main_string = "This is a test string to test substring finding."
substring = "test"
result = find_substring_occurrences(main_string, substring)
print("Occurrences of substring:", result)

Occurrences of substring: [10, 25]

## Q6

## Write a code to perform basic string compression using the counts of repeated characters

In [ ]:
def compress_string(s):
  compressed = []
  count = 1
  for i in range(1 , len(s)):
    if s[i] == s[i-1]:
      count +=1
    else:
      compressed.append(s[i-1] + str(count))
      count = 1
  compressed.append(s[-1] + str(count))
  compressed_string = ''.join(compressed)
  return compressed_string if len(compressed_string) < len(s) else s

In [ ]:
input_string = "aabcccccaaa"
compressed = compress_string(input_string)
print(compressed)

a2b1c5a3

In [ ]:
input_string = "Goooooooood mmmmmmmooooorningggggg!!"
compressed = compress_string(input_string)
print(compressed)

G1o9d1 1m7o5r1n1i1n1g6!2

## Q7

## Write a code to determine if a string has all unique characters

In [ ]:
def unique_characters(s):
  seen_character = set()
  for char in s:
    if char in seen_character:
      return False
    seen_character.add(char)
  return True

In [ ]:
input_str = "hello"
result = unique_characters(input_str)
print(result)

False

In [ ]:
input_str = "abcdef"
result = unique_characters(input_str)
print(result)

True

## Q8

## Write a code to convert a given string to uppercase or lowercase

In [ ]:
def convert_string(s , to_upper = True):
  if to_upper:
    return s.upper()
  else:
    return s.lower()

In [ ]:
input_string = "Hello India"

uppercase_string = convert_string(input_string, to_upper=True)
print(uppercase_string)


lowercase_string = convert_string(input_string, to_upper=False)
print(lowercase_string)

HELLO INDIA
hello india

## Q9

## Write a code to count the number of words in a string

In [ ]:
def count_words(s):
  words = s.split()
  return len(words)

In [ ]:
input_string = "Hello, how are you doing today?"
word_count = count_words(input_string)
print(word_count)

6

In [ ]:
input_string = "I am learning Python"
word_count = count_words(input_string)
print(word_count)

4

## Q10

## Write a code to concatenate two strings without using the + operator

In [ ]:
def concat_strings(s1,s2):
  return ''.join([s1,s2])

In [ ]:
s1 = "sachin"
s2="bg"
concat_strings(s1,s2)

'sachinbg'

## Q11

## Write a code to remove all occurrences of a specific element from a list

In [ ]:
def remove_element(l , elem):
  return [x for x in l if x != elem]

In [ ]:
input_list = [1, 2, 3, 4, 3, 5, 3, 6]
element_to_remove = 3
result = remove_element(input_list, element_to_remove)
print(result)

[1, 2, 4, 5, 6]

## Q12

## Implement a code to find the second largest number in a given list of integers

In [ ]:
def second_largest(s):
  if len(s)<2:
    return None
  unique_numbers = list(set(s))
  if len(s) <2:
    return None
  unique_numbers.sort(reverse=True)
  return unique_numbers[1]

In [ ]:
numbers = [4, 1, 7, 2, 9, 7, 4]
second_largest = second_largest(numbers)
print("The second largest number is:", second_largest)

The second largest number is: 7

#Q13

# Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

In [ ]:
def occurence_count(l):
  d = {}
  for elem in l:
    if elem in d:
      d[elem] +=1
    else:
      d[elem] = 1
  return d

In [ ]:
example_list = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
result = occurence_count(example_list)
print(result)

{'apple': 3, 'banana': 2, 'orange': 1}

# Q14

# Write a code to reverse a list in place without using any built in reverse function

In [ ]:
def reverse(lst):
  new_lst = lst[::-1]
  return new_lst

In [ ]:
lst = [ 10,11,12,13,14]
reverse(lst)

[14, 13, 12, 11, 10]

# Q15

# Implement a code to find and remove duplicates from a list while preserving the original order of elements

In [ ]:
def remove_duplicates(Original_list):
  New_list_with_order = list(set(Original_list))
  return New_list_with_order

In [ ]:
Original_list = [1,2,2,3,3,3,3,5,5,6,6,7,8,8]
remove_duplicates(Original_list)

[1, 2, 3, 5, 6, 7, 8]

# Q16

# Create a code to check if a given list is sorted (either in ascending or descending order) or not

In [ ]:
def is_sorted(input_list):
  ascending = True
  descending = True

  for i in range(len(input_list) -1):
    if input_list[i] > input_list[i+1]:
      ascending = False
    if input_list[i] < input_list[i+1]:
      descending = False


  if ascending :
    return "This list is sorted in ascending order"
  elif descending:
    return "This list is sorted in descending order"
  else:
    return "This list is not sorted"

In [ ]:
example_list = [1, 2, 3, 4, 5]
print(is_sorted(example_list))

This list is sorted in ascending order

In [ ]:
example_list = [1, 6, 3, 4, 5]
print(is_sorted(example_list))

This list is not sorted

In [ ]:
example_list = [10,9,8,7,6,4]
print(is_sorted(example_list))

This list is sorted in descending order

#Q17

# Write a code to merge two sorted lists into a single sorted list

In [ ]:
def merged_list(list1 , list2):
  i = 0
  j = 0
  merged_list = []

  while i < len(list1) and j < len(list2):
    if list1[i] < list2[j]:
      merged_list.append(list1[i])
      i+=1
    else :
      merged_list.append(list2[j])
      j+=1

  while i < len(list1):
    merged_list.append(list1[i])
    i+=1
  while j < len(list2):
    merged_list.append(list2[j])
    j+=1
  return merged_list

In [ ]:
lis1 = [1,2,5,7,9]
lis2 = [3,4,56]
merged_list(lis1,lis2)

[1, 2, 3, 4, 5, 7, 9, 56]

# Q18

# Implement a code to find the intersection of two given lists

In [ ]:
def Intersection(lst1, lst2):
    return set(lst1).intersection(lst2)

In [ ]:
list1 = [ 1,2,3,4]
list2 = [1,2,5,6]

Intersection(list1 , list2)

{1, 2}

# Q19

#Create code to create the union of two list without duplicates

In [ ]:
def Union(lst1, lst2):
    return set(lst1).union(lst2)

In [ ]:
list1 = [ 1,2,3,4]
list2 = [1,2,5,6,7,7]
Union(list1 , list2)

{1, 2, 3, 4, 5, 6, 7}

# Q20

# Write a code to shuffle a given list randomly without using any  built-in shuffle functions

In [ ]:
import random

arr = [1, 2, 3, 4, 5, 6]

print("Original List: ", arr)
n = len(arr)
for i in range(n):
    j = random.randint(0, n-1)
    element = arr.pop(j)
    arr.append(element)

print("Shuffled List: ", arr)

Original List:  [1, 2, 3, 4, 5, 6]
Shuffled List:  [4, 3, 5, 2, 1, 6]

# Q21

# Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples

In [ ]:
def common_elements(t1,t2):
  common = set(t1) & set(t2)
  return tuple(common)

In [ ]:
t1 = (1,2,3,4,5)
t2 = (4,5,6,7,7,7)

common_elements(t1,t2)

(4, 5)

# Q22

# Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets

In [ ]:
def get_set_from_input(prompt):
  return set(map(int, input(prompt).split(',')))


set1 = get_set_from_input("Enter the first set of integers, separated by commas: ")
set2 = get_set_from_input("Enter the second set of integers, separated by commas: ")

intersection = set1 & set2
print(f"The intersection of the two sets is: {intersection}")

Enter the first set of integers, separated by commas: 1,2,3,4,5,6
Enter the second set of integers, separated by commas: 4,5,6,11,21
The intersection of the two sets is: {4, 5, 6}

# Q23

# Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [ ]:
def concat_tupl(t1,t2):
  return t1+t2

In [ ]:
t1= (1,2,3,4,5)
t2 = (5,6,7,8,9)
concat_tupl(t1,t2)

(1, 2, 3, 4, 5, 5, 6, 7, 8, 9)

# Q24

# Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set

In [ ]:
def input_set(prompt):
  return set(input(prompt).split())

def print_difference(set1,set2):
  return set1-set2

set1 = input_set("Enter elements of the first set, separated by spaces: ")
set2 = input_set("Enter elements of the second set, separated by spaces: ")
print_difference(set1,set2)

Enter elements of the first set, separated by spaces: A,B,C
Enter elements of the second set, separated by spaces: B,V

{'A,B,C'}

# Q25

# Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

In [ ]:
def slice_tuple(input_tuple, start_idx ,end_idx):
  return input_tuple[start_idx:end_idx]

In [ ]:
input_tuple = (10, 20, 30, 40, 50, 60, 70)
start_idx = int(input("Enter the starting index: "))
end_idx = int(input("Enter the ending index: "))

result = slice_tuple(input_tuple, start_idx, end_idx)
print("Sliced tuple:", result)

Enter the starting index: 2
Enter the ending index: 5
Sliced tuple: (30, 40, 50)

# Q26

# Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [ ]:
def input_set(prompt):
  return set(input(prompt))

def union_of_set(set1,set2):
  return set1 | set2

set1 = input_set("Enter characters for the first set (no spaces needed): ")
set2 = input_set("Enter characters for the second set (no spaces needed): ")

result = union_of_set(set1, set2)
print("Union of the two sets:", result)

Enter characters for the first set (no spaces needed): abcdef
Enter characters for the second set (no spaces needed): ghijkl
Union of the two sets: {'j', 'e', 'c', 'k', 'd', 'i', 'a', 'f', 'l', 'h', 'g', 'b'}

# Q27

# Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [ ]:
def find_min_max(input_tuple):
  min_value = min(input_tuple)
  max_value = max(input_tuple)

  return min_value,max_value

input_tuple = tuple(map(int,input("Enter integers seperated by spaces:").split()))

min_value,max_value = find_min_max(input_tuple)
print(f"Minimum Value: {min_value}")
print(f"Maximum Value: {max_value}")

Enter integers seperated by spaces:1 2 3 45 65 768
Minimum Value: 1
Maximum Value: 768

# Q28

# Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

In [ ]:
def set_operations(set1, set2):

    union = set1 | set2
    intersection = set1 & set2
    difference = set1 - set2

    return union, intersection, difference


set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}


union, intersection, difference = set_operations(set1, set2)


print(f"Union of the sets: {union}")
print(f"Intersection of the sets: {intersection}")
print(f"Difference of the sets (set1 - set2): {difference}")

Union of the sets: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of the sets: {4, 5}
Difference of the sets (set1 - set2): {1, 2, 3}

# Q29

# Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

In [ ]:
def count_element(input_tuple, element):

    return input_tuple.count(element)

input_tuple = tuple(map(int, input("Enter integers separated by spaces: ").split()))
element = int(input("Enter the element to count: "))


count = count_element(input_tuple, element)
print(f"The element {element} occurs {count} times in the tuple.")

Enter integers separated by spaces: 1 2 3 4 5 6 7 7 7 7 6 5 5 4 5
Enter the element to count: 7
The element 7 occurs 4 times in the tuple.

# Q30

# Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

In [ ]:
def input_set(prompt):
  return set(input(prompt).split())

def symmetric(set1,set2):
  return set1 ^ set2

set1 = input_set("Enter the elements of the first set , seperated by spaces:")
set2 = input_set("Enter the elements of the second set , seperated by spaces:")

result = symmetric(set1,set2)
print("Symetric difference of the two sets:", result)

Enter the elements of the first set , seperated by spaces:apple banana orange
Enter the elements of the second set , seperated by spaces:apple banana cherry
Symetric difference of the two sets: {'cherry', 'orange'}

# Q31

# Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

In [3]:
def word_frequency(word_list):
  frequency_dict = {}

  for word in word_list:
    if word in frequency_dict:
      frequency_dict[word] +=1
    else:
      frequency_dict[word] =1
  return frequency_dict

In [4]:
words = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']

word_frequency(words)

{'apple': 3, 'banana': 2, 'orange': 1}

# Q32

# Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together

In [5]:
def merge_dict(dict1,dict2):
  merged_dictionaries = dict1.copy()

  for key , value in dict2.items():
    if key in merged_dictionaries:
      merged_dictionaries[key] += value
    else :
      merged_dictionaries[key] = value

  return merged_dictionaries

In [6]:
dict1 = {'a': 10, 'b': 20, 'c': 30 , 'd':70}
dict2 = {'b': 15, 'c': 25, 'd': 40}

merged = merge_dict(dict1,dict2)
print(merged)

{'a': 10, 'b': 35, 'c': 55, 'd': 110}

# Q33

# Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

In [7]:
def get_nestedvalue(nested_dict,key_list):
  current_value = nested_dict

  for key in key_list :
    if isinstance(current_value , dict) and key in current_value:
      current_value = current_value[key]
    else:
      return None
  return current_value

In [10]:
nested_dict = {
    'a': {
        'b': {
            'c': 42
        }
    }
}

keys = ['a', 'b', 'c']
value = get_nestedvalue(nested_dict, keys)
print(value)

42

In [11]:
keys = ['a', 'b', 'd']
value = get_nestedvalue(nested_dict, keys)
print(value)

None

# Q34

# Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

In [12]:
def sort_dict_by_value(input_dict, descending=False):

    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=descending))
    return sorted_dict

In [13]:
my_dict = {'apple': 10, 'banana': 5, 'orange': 20, 'kiwi': 15}

sorted_asc = sort_dict_by_value(my_dict)
print("Ascending:", sorted_asc)

Ascending: {'banana': 5, 'apple': 10, 'kiwi': 15, 'orange': 20}

# Q35

# Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [14]:
def invert_dict(input_dict):
    inverted_dict = {}

    for key, value in input_dict.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]
    return inverted_dict

In [15]:
my_dict = {'apple': 10, 'banana': 5, 'orange': 10, 'kiwi': 15}

inverted = invert_dict(my_dict)
print(inverted)

{10: ['apple', 'orange'], 5: ['banana'], 15: ['kiwi']}