<a href="https://colab.research.google.com/github/sachinbg-282/Data-Analytics---Assignment/blob/main/Assignment_Python_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Data Structure - Assignment

## Q1
Discuss string slicing and provide examples
# Answer
 String slicing in Python is a way to extract a portion of a string by specifying the start and end index.
 The format for string slicing is [start:end] , where the start is the index where slicing begins (inclusive) and end is the index where it ends (exclusive) .

 Syntax of Slicing
 1. slice [start : end ] - Slicing starts with required index character of the string and ends with (end-1) character
 2. slice [start:] - Slicing starts with required index character and ends with last character
 3. slice [:end] - Slicing starts with first character and ends with (end-1) character
 4. slice [:] - Returns the entire string
 5. slice [start : end : step] - Returns string with required index character till required character with a step increment specified

 Note : start , end and step represents index of the string

In [ ]:
a = "My name is Sachin"

In [ ]:
# slice [start : end ] - Slicing starts with reqired index character of the string and ends with (Index-1) character
a = "My name is Sachin"
b = a[0:12] # starts with index 0 >> 'M' and ends with 11th index >> 'S'
print(b)

My name is S

In [ ]:
c = a[5:15]  # starts with 5th index >> 'm' and ends with 14th index >> 'h'
print(c)

me is Sach

In [ ]:
# slice [start:] - Slicing starts with required index character and ends with last character
x = "Hello , how are you?"
y = x[8:] # starts with 8th index >>'h' and ends with last character '?'
print(y)

how are you?

In [ ]:
# slice [:end] - Slicing starts with first character and ends with (end-1) character
s = "I am doing good"
t = s[:8] # starts with first character or 0th Index 'I' and ends with 7th Index 'i'
print(t)

I am doi

In [ ]:
# slice [:] - Returns the entire string
s = "I am doing good"
v = s[:] # returns the entire string
print(v)

I am doing good

In [ ]:
# slice [start : end : step] - Returns string with required index character till required character with a step increment specified
x = "ABCDEFGHIJKLMNOP"
w = x[2:10:2]
print(w) # returns every 2nd character from the position C (2nd Index) to J(9th Index)

CEGI

In [ ]:
f= x[0:12:3] # returns every 3rd position from the position 0th index to 11th index
print(f)

ADGJ

## Q2
Explain the key features of lists in Python

## Answer

Lists are a fundamentl Data Structure in Python , offering flexibility and power for managing collections of items .
A single lists may contain data types like strings , integers and objects.
Lists can be altered even after ther creation.

Key features are
1. Ordered - Lists are collection of ordered elements, we can access the elements in the list by their index . The first element can be accessed by index 0  , the second element by 1 and so on .
2. Mutable - Lists are mutable , which means we can modify [add, remove, update ] the list even after their creation
3. Heterogenoeous - List can store various data type such as int , str , bool , and also even list
4. Iterable - We can easily iterate over the elements in the list to perform operations on each item .
5. Duplicate - List can store duplicate values
6. Slicing - We can extract the portion of the list by specifying the range of indices using slicing notion.

In [ ]:
# Ordered >> elements can be accessed by using their indices
a = ["Sachin", 100 , "Data Analysis", "July", 2024]
a

['Sachin', 100, 'Data Analysis', 'July', 2024]

In [ ]:
a[0]

'Sachin'

In [ ]:
a[3]

'July'

In [ ]:
a[-1]

2024

In [ ]:
# Mutable >> Elelments in the list can be modified >> add , remove , update
a = ["Sachin", 100 , "Data Analysis", "July", 2024]
a.append("pwskills") # adding the element
a

['Sachin', 100, 'Data Analysis', 'July', 2024, 'pwskills']

In [ ]:
a.remove(100) # removing the element

In [ ]:
a

['Sachin', 'Data Analysis', 'July', 2024, 'pwskills']

In [ ]:
a[2] = "August" # updating the element using the index value >> Index 2-->(July ---> August)

In [ ]:
a

['Sachin', 'Data Analysis', 'August', 2024, 'pwskills']

In [ ]:
# Heterogeneous >> can store different data types
b = ["Sachin", 100 , "Data Analysis", "July", 20.24 ,4+6j]
print(type(b[0])) #str
print(type(b[1])) #int
print(type(b[4])) #float
print(type(b[-1])) #complex number

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
# Iterable >> can be looped for performing required operation
b = ["Sachin", 100 , "Data Analysis", "July", 20.24 ,4+6j]
for elem in b:
  print(elem)

Sachin
100
Data Analysis
July
20.24
(4+6j)

In [ ]:
# Duplicate >> List can store duplicate values

b = ["Sachin", 100 , "Data Analysis", "July", "Data Analysis","July", 100]
b

['Sachin', 100, 'Data Analysis', 'July', 'Data Analysis', 'July', 100]

In [ ]:
# Slicing >> We can extract rhe portion of list by specifying the range of indices
a = ["Sachin", 100 , "Data Analysis", "July", 2024]
a[0:3]

['Sachin', 100, 'Data Analysis']

In [ ]:
a[2:4]

['Data Analysis', 'July']

## Q3

Describe how to access, modify, and delete elements in a list with examples

## Answer

We can use the below syntax to perfrom the operations
1. access - Elements in the list can be accessed using indexing in the
list
2. modify - list.append() will add the element in the list.
list[index] will update the particular element in the list
3. list.remove() will delete the element from the list.

In [ ]:
# Accessing the element in the list
phone_brand = ["oppo","vivo", "samsung", "iphone"]
phone_brand[0] # returns the 0th index element in the list

'oppo'

In [ ]:
phone_brand[3] # returns the 3rd index element in the list

'iphone'

In [ ]:
# modify
phone_brand = ["oppo","vivo", "samsung", "iphone"]
phone_brand.append("Nokia") # add the element in the list
phone_brand

['oppo', 'vivo', 'samsung', 'iphone', 'Nokia']

In [ ]:
phone_brand[0] = "Realme" # update the element in the list
phone_brand

['Realme', 'vivo', 'samsung', 'iphone', 'Nokia']

In [ ]:
# delete
phone_brand = ['Realme', 'vivo', 'samsung', 'iphone', 'Nokia']
phone_brand.remove("vivo") # delete the element in the list
phone_brand

['Realme', 'samsung', 'iphone', 'Nokia']

## Q4

Compare and contrast tuples and lists with examples

## Answer

The below are the major differeneces between lists and Tuples
1. Lists
 - Lists are mutable >> can be modified
 - Defined using square brackts []
 - Cannot be used as dictionary  key as lists are mutable
 - Suitable for collections of items that may change over time
 - Generally Slower to iterate due to dynamic size and mutability

2. Tuples
  - Tuples are immutable >> can not be modified
  - Defined using parenthesis ()
  - Can be used as dictionary key as tuples are immutable
  - Ideal for fixed collections of items such as coordinates or constants
  - Generally faster to iterate due to fixed size.

Also , below are few common features of Lists and Tuples
  1. They are Heterogeneous - Can store different data types such as int , str , float , bool etc
  2. Element Access -  Elements in the lists and tuples can be accessed through indexing.
  3. Sequential Data Storage - Elelments in lists and tuples are stored in a specific order so that it can be accessed.

In [ ]:
# Lists
# Heterogeneous
a = ["Sachin" ,"Bangalore" , 1366 , 560050 , 3.41 ] # Heterogeneous >> Different data types

In [ ]:
a

['Sachin', 'Bangalore', 1366, 560050, 3.41]

In [ ]:
# Mutable
a = ["Sachin" ,"Bangalore" , 1366 , 560050 , 3.41 ]
a.append("iPad") #mutable >> elements in list can be added
print(a)

['Sachin', 'Bangalore', 1366, 560050, 3.41, 'iPad']

In [ ]:
# Mutable
a = ['Sachin', 'Bangalore', 1366, 560050, 3.41, 'iPad']
a.remove(3.41) #mutable >> elements can be removed from the list
print(a)

['Sachin', 'Bangalore', 1366, 560050, 'iPad']

In [ ]:
 # Accessing element through Indexing
print(a[-1])
print(a[0])
print(a[2])

iPad
Sachin
1366

In [ ]:
# tuple
# Heterogeneous

t = ("Sachin" ,"Bangalore" , 1366 , 560050 , 1994) # different data types can be stored
print(type(t))
print(t)

<class 'tuple'>
('Sachin', 'Bangalore', 1366, 560050, 1994)

In [ ]:
# Accessing elements in tuple through indexing
t = ("Sachin" ,"Bangalore" , 1366 , 560050 , 1994)

print(t [-1])
print(t[1])
print(t[-3])

1994
Bangalore
1366

In [ ]:
# tuples are immutable
t[-1] = "India"  # error >> 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

## Q5

Describe the key features of sets and provide examples of their use

## Answer
A set in Pythonm is a colection of unique and unordered data type which are iterable , mutable and has no duplicate elements.

Key features -
1. Unordered - The elements in sets have no defined order, which means the set elements cannot be accessed using slicing or indexing.
2. Unique - Sets do not allow duplicate values. It will be ignored if we try to add duplicate elements.
3. Mutable - We can add/remove elements in the sets
4. Immutable Elements - Even though sets are mutable , the elements in the sets should be immutable type (eg: string , int , float)
5. Mathematical Set operators - We can perform Union , Intersection and Difference operation in sets.

In [ ]:
# Use cases
# Set Operations
# Union of Sets - This will returns a set with all elements in both the set
a = {1,2,3,4}
b = {2,3,5,6}
c = a.union(b)
print(c)

{1, 2, 3, 4, 5, 6}

In [ ]:
# Intersection - This will return a set having common element in both the sets
x = {"Sachin","Rahul","Rohit", "Dube"}
y = {"Virat", "Rahul","Sachin", "Bumrah"}
z = x.intersection(y)
print(z)

{'Rahul', 'Sachin'}

In [ ]:
# Difference  - This will return a element which are in set c and not in set d
c= {1,2,3,4}
d = {2,3,5}
e = c.difference(d)
print(e)

{1, 4}

In [ ]:
# Checking if element is present in the list
list1 = [1,2,3,4,5]
set1 = set(list1) # type casting list to a set
if 2 in set1: #checking if the element is in the set
  print("2 is pesent in set1")

2 is pesent in set1

In [ ]:
# Making a list of unique elements

list_a = [1,5,2,3,3,4,5,1]
set_a = set(list_a) # converting list to set >> so that it retains only unique element
list_a = list(set_a) #conerting set to list to have unique elements in the list derived form set

print(list_a)

[1, 2, 3, 4, 5]

## Q6

Discuss the use cases of tuples and sets in Python programming

## Answer

Tuples
1. Immutable Sequences - The elements in the tuple can not be modified once created.
2. Perfomrance - Tuples are usually faster than list, since they are immutable
3. Dictionary keys - Tuples can be used as keys in dictionary since they are hashable or immutable

Sets
1. Unordered collection of Unique Items - we can use sets when the information stored appears only once and the order doesn't matter
2. Mathematical Set operations - It can perform mathematical operations like  Union , Intersection and Difeerence of sets which can be useful in various computational problems.
3. Removing duplicates from other collections - Sets are useful in removing duplicates from collections like lists
4. iterating over unique items - if you need to iterate over a collection of unique items and order is not important, sets provide a convenient way to ensure uniqueness without having to manually manage it.

## Q7

Describe how to add, modify, and delete items in a dictionary with examples

## Answer

In Python, dictionaries are versatile data structures that store key-value pairs. They are mutable, meaning you can modify them after they are created

In [ ]:
# Add items to the Dictionary
my_dict = {'name': 'Sachin', 'age': 30}
my_dict["city"] = "Bangalore" #adding item >> defining key value pair
print(my_dict)

{'name': 'Sachin', 'age': 30, 'city': 'Bangalore'}

In [ ]:
# modifying item
my_dict = {'name': 'Sachin', 'age': 30, 'city': 'Bangalore'}
my_dict["name"] = "Rohit" # >> modifying dict element by key value pair
print(my_dict)

{'name': 'Rohit', 'age': 30, 'city': 'Bangalore'}

In [ ]:
# deleting item in dict
my_dict = {'name': 'Rohit', 'age': 30, 'city': 'Bangalore'}
del my_dict ["city"] # deleting item by mentioning key in dict
print(my_dict)

{'name': 'Rohit', 'age': 30}

In [ ]:
# deleting by pop method
removed_value = my_dict.pop('age')

print(my_dict) # Output: {'name': 'John'}
print("Removed value:", removed_value)

{'name': 'Rohit'}
Removed value: 30

## Q8

Discuss the importance of dictionary keys being immutable and provide examples.

## Answer

Importanc of Immutable dictionary keys
1. Key Integrity - Immutable keys ensures the integrity of dict is maintained. If keys were mutable, changing a key's value could potentially change its hash value, leading to inconsistency or even data loss within the dictionary.
2. Compatibility with Data Structures: Immutable keys ensure that the containing data structures remain consistent and correctly utilize hash-based indexing.
3. Guarantee of Uniqueness: Immutable keys guarantee that each key in a dictionary is unique. Since mutable objects can change their state, two mutable objects with the same value might not be considered equal for hashing purposes if their state changes.

In [ ]:
# Strings as Keys:
student_grades = {'Alice': 85, 'Bob': 92, 'Charlie': 78}
print(student_grades)
print(type(student_grades))

{'Alice': 85, 'Bob': 92, 'Charlie': 78}
<class 'dict'>

In [ ]:
#Integers as Keys:
month_days = {1: 31, 2: 28, 3: 31, 4: 30}
print(month_days)
print(type(month_days))

{1: 31, 2: 28, 3: 31, 4: 30}
<class 'dict'>

In [ ]:
# Tuples (with Immutable Elements) as Keys:
coordinates = {(0, 0): 'Origin', (1, 1): 'One One', (2, 3): 'Two Three'}
print(coordinates)
print(type(coordinates))

{(0, 0): 'Origin', (1, 1): 'One One', (2, 3): 'Two Three'}
<class 'dict'>

In [ ]:
# FrozenSets as Keys (since frozensets are immutable):
interests = {frozenset(['Python', 'Machine Learning']): 'Data Science',
             frozenset(['Java', 'Android']): 'App Development'}
print(interests)
print(type(interests))

{frozenset({'Python', 'Machine Learning'}): 'Data Science', frozenset({'Android', 'Java'}): 'App Development'}
<class 'dict'>